<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="/frontend/style.css">
</head>

<body>
    <section class="h-wrapper">
        <div class="flexCenter paddings innerWidth h-container">
            <img src="/" alt="logo" width="100px" height="100px">

            <div class="flexCenter h-menu">
                <a href="">Residencies</a>
                <a href="">Our Values</a>
                <a href="">Contact Us</a>
                <a href="">Get Started</a>
                <button class="button">
                    <a href="">Contact</a>
                </button>

            </div>
    </section>

</body>

</html>